
body {
    justify-content: center;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container a {
    margin: 10px;
}

.btn-container a button{
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}


.container {
    display: flex;
    gap: 10px; /* 두 섹션 사이 간격 */
    justify-content: center; /* 가운데 정렬 */
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin:0 auto;
    width:100%;
    
}

header{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    align-items: center;
}

#calculator-form {
    flex-direction: column; /* 세로로 정렬 */
    align-items: center; /* 가로로 중앙 정렬 */
    justify-content: center; /* 세로로 중앙 정렬 */
    gap: 5px; /* 요소 간 간격 */
}

#calculator-form input {
    text-align: center; /* 입력값 가운데 정렬 */
    box-sizing: border-box;
}

#calculator-form table {
    width: 100%;
    margin:0 auto;
    border-collapse: collapse;
}

.input-section, .character-stats {
    width: 100%; /* 최소 너비 설정 */
    max-width: 800px; /* 최대 너비 설정 */
    margin:0 auto;
}

.input-section h3, .character-stats p{
    text-align: center;
}

.input-section h4 {
    color:rgb(194, 37, 173) ;
}

.input-section label {
    display: inline-block; /* 같은 줄에 표시 */
    width: 70px; /* 라벨의 고정 너비 */
    margin-right: 10px; /* 라벨과 입력 필드 사이 여백 */
    text-align: right; /* 텍스트를 오른쪽 정렬 */
}

.input-section input {
    display: inline-block;
    width: 55px; /* 입력 박스 너비 줄이기 */
    height: 30px; /* 입력 박스 높이 키우기 */
    padding: 5px; /* 내부 여백 추가 */
    font-size: 14px; /* 텍스트 크기 조절 */
    box-sizing: border-box; /* 패딩 포함한 크기 계산 */
    border: 1px solid #ccc; /* 입력 박스 테두리 */
    border-radius: 5px; /* 모서리 둥글게 */
}
.input-section form {
    margin: 0 auto;
    max-width: 500px;
}


/* 증감 버튼 확대 (크기 조정) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    transform: scale(1.5);
}

/* 보스 방어력, 보스 내성 스타일 */
#boss-defenses {
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

#boss-defenses .boss-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

#boss-defenses label {
    margin-bottom: 10px;
    font-weight: bold;
}

#boss-defenses input {
    width: 50px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
}


/* 캐릭터정보 */
.character-stats {
    border: 1px solid #ccc;
    padding: 5px;
    padding-top: 0;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 500px;
    text-align: center;
}
.character-stats h4 {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 10px;
    color:rgb(194, 37, 173)
}

/* 캐릭터선택 */
.character-card, .equipment-card, .artifact-card, .supporter-card{
    max-width: 220px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
    text-align: center;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    width: 50%;
    font-size: 14px;
}

.character-card:hover, .equipment-card:hover, .artifact-card:hover, .supporter-card:hover{
    background-color: #e8e8ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.character-card.selected, .equipment-card.selected, .artifact-card.selected{
    background-color: #cfe3ff;
    border-color: #5c9cff;
}

/* 장비 이미지 */
.equipment-container {
    display: flex;
}

.equipment-container img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 4px;
    margin-left: 10px;
}

.equipment-container div {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.equipment-container2 {
    display: flex;
    justify-content: center;
}

.equipment-container2 img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 4px;
}

.supporter-card.selected{
    background-color: #cfe3ff;
    border-color: #5c9cff;
}

/* 직접입력 */
.manual-input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 20px; /* 위쪽에 간격 추가 */
    width: 100%; /* 가로로 꽉 차게 설정 */
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px
}

.manual-input label {
    margin: 0;
    white-space: nowrap;
    display: inline-block;
    font-size:13px;
}

.manual-input input {
    margin: 0;
    padding: 3px;
    font-size: 12px;
    width: 50px;
    text-align: center;
}
.manual-input select{
    margin: 0;
    padding: 3px;
    font-size: 14px;
    width: 100px;
}

.manual-input button {
    padding: 5px 5px;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}

.manual-input button:hover {
    background-color: #45a049;
}

/* 계산섹션 */
.calculate-section {
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    align-items: center; /* 가로로 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
    margin-top: 20px; /* 섹션 간 간격 */
    margin-bottom: 20px;
}

.calculate-section h2 {
    color:rgb(194, 37, 173);
}    

.calculation-table input {
    width: 50px;
    height: 30px;
    font-size: 14px;
    text-align: center;
}

.result-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-section h2 {
    color:rgb(194, 37, 173);
}

.cal-btn {
    margin-top: 0px;
    padding: 10px 20px;
    display: block;
    width: 100px;
    max-width: 300px; /* 버튼의 최대 너비 제한 */
    border-radius: 10px;
    background-color: #d32432;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.adsense-ad {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000; /* 다른 콘텐츠 위에 표시되도록 */
    padding: 10px; /* 광고 주변 여백 */
    width: 250px;
    height: 200px;
    display: none;
}


footer{
    text-align: right;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* 세로로 배치 */
        align-items: center; /* 가운데 정렬 */
    
    }
    #calculator-form table {
        font-size: 12px; /* 폰트 크기 축소 */
        margin-bottom: 10px;
    }
    #calculator-form input {
        width: 50px; /* 입력칸 더 줄이기 */
    }

    .character-stats {
        grid-template-columns: 1fr; /* 한 줄에 1개의 칸 */
    }

    .manual-input input, .manual-input button, .manual-input select {
        width: 100%; /* 가로 너비를 화면에 맞춤 */
        max-width: 300px; /* 최대 너비 제한 */
        font-size: 13px;;
    }

    .manual-input button {
        font-size: 12px; /* 버튼 폰트 크기 줄이기 */
    }
}

