h1, h4 {
    display: block;
    margin: 5px auto;
    text-align: center;
}

table {
    width: 250px;
    height: 250px;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
}

td {
    border: 1px solid #000;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

td.clicked {
    background-color: #4caf50;
    color: #fff;
}

td.bingo {
    background-color: #ffcc00; /* 강조 색상 */
    color: #000;
}

#resetButton {
    display: block;
    margin:20px auto;
    width: 80px;
    height: 30px;
}

/* 추천된 셀 강조 */
.highlight {
    background-color: yellow; /* 추천된 셀을 노란색으로 하이라이트 */
    font-weight: bold;
    color: red;
}

/* 추천 위치 텍스트 */
#recommendation {
    font-size: 18px;
    margin-top: 10px;
    color: green;
}
